<!--
  429 Error Page
  Author: Yu Akagi
  Last Updated: 2025/4/5
-->
{% extends "components/bases/landing_base.html" %}
{% load static %}


{% block content %}
<main class="px-3">
  <h1 class="display-4 fw-bold">429 - Too Many Requests</h1>
  <p class="lead">You're making too many requests too quickly.</p>
  <p class="lead">Please wait a moment and try again.</p>
  <p class="lead">
    <a href="#" onclick="handleBack()" class="btn btn-lg btn-light fw-bold border-white bg-white">
      Try Again
    </a>
  </p>
</main>
<div id="fireworks-container" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></div>
{% endblock %}

{% block script %}
<script>
function handleBack() {
  if (document.referrer && document.referrer !== window.location.href) {
    history.back();
  } else {
    window.location.href = "{% url 'account_user_home_redirect' %}" || "{% url 'landing' %}";
  }
}
</script>
{% endblock %}
