<!--
  Diagnosis Records Template

  Author: Yu Akagi
  Last Updated: 2025/3/19
-->
{% extends 'patient/parts/patient_record_base.html' %}
{% load static %}

<!-- Section title -->
{% block subtitle %}
<!-- Section title -->
<span><i class="bi bi-pencil-square"></i></span> Diagnosis Records
{% endblock %}

<!-- Page url-->
{% block page_url %}
  {% url "patients_diagnoses" patient.pk %}
{% endblock %}

<!-- begin:: Record table section -->
{% block tablecontent %}
<thead>
	<tr>
		<th>Time</th>
		<th>Code</th>
		<th>Provisional</th>
		<th>Diagnosis Name</th>
	</tr>
</thead>
<tbody>
	{% for record in records %}
	<tr>
		<td>{{ record.timestamp|date:'Y-m-d H:i' }}</td>
		<td>{{ record.item_code }}</td>
		<td>
			{% if record.provisional %}
			<span class="badge rounded-pill text-bg-danger" title="Provisional diagnosis">?</span>
			{% endif %}
		</td>
		<td>{{ record.item_name }}</td>
	</tr>
	{% endfor %}
</tbody>
<!-- end:: Record table section -->
{% endblock %}

<!-- Scripts-->
{% block script %}
{{ block.super }}
<script>
// Override the function to redraw datatable uisng AJAX response
function redrawTable (data, table) {
		// Clear existing table data
		table.clear();
		// Add new rows
		data.records.forEach(d => {
			const formattedTime = d.timestamp ? dayjs(d.timestamp).format("YYYY-MM-DD HH:mm") : "";
			table.row.add([
			formattedTime,
				d.item_code || "",
				d.provisional ? '<span class="badge rounded-pill text-bg-danger">?</span>' : "",
				d.item_name || ""
			]);
		});
		// Draw the updated table
		table.draw();
	}

</script>
{% endblock %}
